{% extends 'base.html.twig' %}

{% block title %}
  Task viewer
{% endblock %}

{% block body %}
  <div class="container">
    <div>
      <h1 class="text-center">Task List</h1>
      <p>Here you can see all your pending tasks</p>
    </div>

    <table class="table table-striped table-bordered">
      <thead class="text-center">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody class="text-center">
        {% for task in tasks %}
          <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
          </tr>
        {% else %}
          <tr>
            <td colspan="4">no records found</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <a href="{{ path('task_new') }}"><button type="button" class="btn btn-success">New task</button></a>
  </div>
{% endblock %}
