{% extends 'base.html.twig' %}

{% block title %}
  New Task
{% endblock %}

{% block body %}
  <h1 class="text-center">Create new Task</h1>
  <hr />
  {{ include('task/_form.html.twig') }}
{% endblock %}
